<%- include("partials/header") %>
<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<lable>Title</lable>
			<input type="text"	name="blog[title]" placeholder="title">
		</div>
		<div class="field">
			<lable>URL</lable>
			<input type="text"	name="blog[image]" placeholder="image">
		</div>
		<div class="field">
			<lable>Blog Content</lable>
			<textarea name="blog[body]" placeholder="blog post goes here"></textarea>
		</div>
		<div class="field">
			<input class="ui primary button" type="submit">
		</div>
	</form>
</div>
<%- include("partials/footer") %>
